@font-face {
  font-family: "Ruda-Bold";
  src: url(../fonts/Ruda-Bold.ttf);
}
@font-face {
  font-family: "Ruda-Medium";
  src: url(../fonts/Ruda-Medium.ttf);
}
@font-face {
  font-family: "Ruda-Black";
  src: url(../fonts/Ruda-Black.ttf);
}
@font-face {
  font-family: "FuturaBdCnBTBold";
  src: url(../fonts/FuturaBdCnBTBold.ttf);
}
@font-face {
  font-family: "Ruda-SemiBold";
  src: url(../fonts/Ruda-SemiBold.ttf);
}
@font-face {
  font-family: "RussoOne-Regular";
  src: url(../fonts/Ruda-SemiBold.ttf);
}
:root {
  background-color: #221a4e;
}

body {
  margin: 0;
  display: flex;
  color: #fff;
  max-width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    padding: 0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  position: relative;
  left: 20%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-family: Ruda-Bold;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.78px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}
.logo {
  position: absolute;
  left: -5px;
  top: 16px;
}
.register-button {
  background: #221a4e;
  color: #fff;
  border: none;
  width: 149px;
  height: 37px;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  font-family: Ruda-Black;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
}

.register-button:hover {
  background-color: #000;
  color: #fff;
}

/* INFOS */

.infos {
  flex: 0.7;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.infos h5 {
  font-family: Ruda-Black;
  font-size: 26.2px;
  text-align: left;
  color: #fff;
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: 20px;
}
h2 {
  font-family: RussoOne-Regular;
  font-size: 80.38px;
  text-align: left;
  color: #ffff;
  margin-bottom: 20px;
  text-shadow: 2.39px 3.19px 15.93px rgba(221, 225, 235, 0.54);
}
.blue-text {
  color: #2c8aca;
}
p {
  font-family: FuturaBdCnBTBold;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 15px;
  width: 541px;
  text-align: justify;
}

.know-more-btn {
  font-family: Ruda-Black;
  font-size: 22.28px;
  padding: 10px;
  width: 261.97px;
  background: #3f3576;
  border: none;
  color: #fff;
  border-radius: 87.84px;
  cursor: pointer;
}

/* REGISTRATION FORM */
.registration-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: #fff;
  height: 100vh;
}

.registration-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  text-align: center;
}

.registration-form {
  flex: 1.3;
  width: 786px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.registration-form h2 {
  margin-bottom: 20px;
  font-family: FuturaBdCnBTBold;
  font-size: 33.37px;
}

.registration-form form input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.form-container {
  flex: 1;
  width: 556px;
  height: 469px;
  text-align: center;
  justify-items: center;
  margin-top: 80px;
  background-color: #261d58;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-container h3 {
  font-family: RussoOne-Regular;
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 3px 8px rgba(221, 225, 235, 0.54);
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: left;
}
.form-group {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: FuturaBdCnBTBold;
  font-size: 14.12px;
}
.form-group label {
  margin-bottom: 5px;
  font-size: 14.12px;
  font-weight: 100;
}
.form-group input {
  padding: 10px;
  border: none;
  width: 218px;
  border-radius: 6px;
  background: #fff;
  color: #000;
  font-family: Ruda-Medium;

  font-size: 14px;
}
input::placeholder {
  color: #000;
  opacity: 30%;
}
.form-button {
  grid-column: span 2;
  text-align: center;
  margin-top: 20px;
}

.form-button button {
  padding: 10px 20px;
  background: #ffff;
  color: #221a4e;
  border: none;
  width: 141px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  font-family: Ruda-Black;
  cursor: pointer;
  padding: 10px;
}

.form-button button:hover {
  background: #ccc;
}
/* ABOUT US */
.about-section h2 {
  text-align: center;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.about-left,
.about-right {
  padding: 20px;
}
.about-container p {
  width: 500px;
  margin-left: 22px;
}
#joinus {
  width: 360px;
}
